@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-rubik: Rubik-Regular;
  --font-rubik-bold: Rubik-Bold;
  --font-rubik-semibold: Rubik-SemiBold;
  --font-rubik-extrabold: Rubik-ExtraBold;
  --font-rubik-medium: Rubik-Medium;
  --font-rubik-light: Rubik-Light;
}
